{% extends 'erros/base_e.html' %}

{% block content %}
<div class="uk-margin uk-flex uk-flex-center uk-flex-middle">
    <div class="uk-position-small uk-position-cover uk-overlay uk-overlay-default uk-flex-center uk-flex-middle" style="width: 300px; height: 600px;">
        <h1 style="font-weight: 700;"><span uk-icon="icon: search; ratio: 2.5"></span>Ops...</h1>
        <h2 style="font-weight: 500;">Erro 404</h2>
        <p>Parece que a página não existe!</p>
        <a href="{{ url_for('index') }}" style="text-decoration: none; color: #445454;"><span uk-icon="icon: home; ratio: 1.5"></span> Voltar ao sistema</a>
    </div>
</div>
    
{% endblock %}