<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Inicio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="Campanhas CCR">
    <meta property="og:description" content="Plataforma de gerenciamento de campanhas da Comunidade Católica Restauração">
    <meta property="og:image" content="{{ url_for('static', filename='imgs/favicon-32x32.png') }}">
    <meta property="og:url" content="{{ request.url }}">
    <meta property="og:type" content="website">

    <link rel="icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.min.css')}}" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/sistema-estilos.css')}}">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <script src="{{ url_for('static', filename='js/uikit.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/uikit-icons.min.js')}}"></script>
</head>

<body>
    <main>
        {% block content %}

        {% endblock %}
    </main>
</body>
</html>