{% extends 'templates-privados/base_priv.html' %}

{% block content %}
<nav class="uk-navbar-container uk-margin">
  <div class="uk-container">
    <div uk-navbar>
      <div class="uk-navbar-left">
        <a class="uk-navbar-toggle" href="#" uk-toggle="target: #offcanvas-push"><span uk-navbar-toggle-icon></span>
          <span class="uk-margin-small-left">Menu</span></a>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <li>
            <a href="#">{{ context.user }}<span uk-icon="user"></span></a>
            <div class="uk-navbar-dropdown">
              <ul class="uk-nav uk-navbar-dropdown-nav">
                <li class="uk-nav-header">Perfil</li>
                <li><a href="#"><span uk-icon="cog"></span>Config</a></li>
                <li class="uk-nav-header">Dados</li>
                <li><a href="#"><span uk-icon="album"></span>Acessos</a></li>
                <li><a href="#"><span uk-icon="history"></span>Historico</a></li>
                <li class="uk-nav-divider"></li>
                <li><a href="{{ url_for('logout') }}"><span uk-icon="sign-out"></span>Sair</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div id="offcanvas-push" uk-offcanvas="mode: push; overlay: true">
  <div class="uk-offcanvas-bar uk-flex uk-flex-column">

    <button class="uk-offcanvas-close" type="button" uk-close></button>

    <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
      <li class="uk-active"><a href="#">Active</a></li>
      <li class="uk-parent">
        <a href="#">Parent</a>
        <ul class="uk-nav-sub">
          <li><a href="#">Sub item</a></li>
          <li><a href="#">Sub item</a></li>
        </ul>
      </li>
      <li class="uk-nav-header">Header</li>
      <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: table"></span> Item</a></li>
      <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span> Item</a></li>
      <li class="uk-nav-divider"></li>
      <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: trash"></span> Item</a></li>
    </ul>
  </div>
</div>
<h1>Bem vindo!</h1>
{% endblock %}